<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Chat</title>
    </head>
    <body>
        <form action=""> 
            password: <input type="password" name="pass">
            <input type="submit" value="Logout">
        </form>
        <script type="text/javascript" src='socket.io/socket.io.js'></script>
        <script type="text/javascript" src="jquery/jquery.js"></script>
        <script type="text/javascript" src="easyrtc/easyrtc.js"></script>
        <script>
            $(document).ready(function () {
                $("form").submit(function () {
                    console.log("password sumbitted");
                    var pw = {"pw": $("input").val()};
                    $.post("/logout", pw, function (response, status) {
                        //console.log("PW:" + JSON.stringify(pw.pw) + "\nstatus:" + status);
                        if (response) {
                            alert("stop!")
                        }
                        $("body").text(response);
                        console.log(JSON.stringify(response));
                    }
                    );
                });
            });
        </script>
    </body>
</html>